.mostSearchedWords .container {
    direction: rtl;
    padding: 50px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 100%;
    margin-bottom: 0;
}

.mostSearchedWords .container .title {
    margin-bottom: 50px;
}

.mostSearchedWords .container .title h2 {
    position: relative;
    font-size: 35px;
    color: #5bc9b6;
    text-align: center;
}

.mostSearchedWords .container .title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: rgb(91, 200, 182);

}



.mostSearchedWords .container .content .item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap: 20px; */
    column-gap: 20px;
}

.mostSearchedWords .links button {
    background-color: #5bc9b6;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;

}
.add_romver_favs button{
    background-color: #5bc9b6;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    /* left: -15px; */
    margin-top: 20px;
    position: relative;  
    cursor: pointer;
    color: white;  
}

.nothingToshow {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #9e9e9ece;
}

.goback {
    background-color: #5bc9b6;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

button {
    margin-bottom: 10px;
}


.mostSearchedWords .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
 
}

.mostSearchedWords .content .topWord {
    /* width: 50px; */
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #5bc9b6;
    cursor: pointer;
    color: white    ;
}

.mostSearchedWords .content .topWord:hover {
    transform: scale(1.1);
}