.Form {
    position: relative;
    z-index: 100;
    color: rgb(1, 1, 1);
    /* width: 550px; */
    min-height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

.btn {
    background-color: #5bc9b6 !important;
}

.invalid {
    color: red;
    display: block;
    font-size: 16px;
}

.valid {
    display: none;
}