.mostSearchedWords {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

}

.definitions {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.subword {
    width: 500px;

    margin-bottom: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #eeeff0a1;
}

span {
    font-weight: 300;
    font-size: 20px;
    font-family: initial;
}

.subword .entry {
    position: relative;
    color: #5bc9b6;
    margin-bottom: 10px;
}

.subword .entry::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #5bc9b6;
    top: 25px;
    right: 20px;
}

.index {
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    position: relative;

    border-left: 1px solid black
}

.index span {

    top: 45%;
    position: relative;
    font-size: 20px;

}

.noExample {
    font-weight: 100;
}

.info {
    margin: 0 10px;
}

.searchIngeneralDic button {
    padding: 15px;
    border-radius: 10px;
    background-color: #5bc9b6;
    color: white;
    border: none;
}

.hide {
    display: none;
}

.loading {
    text-align: center;
    width: 100%;
    height: 50vh;
    font-size: 18px;
}


.generalDic {
    padding: 10px 10px 50px 10px
}

.buttons {
    display: flex;
    gap: 40px;
}

.res {
    color: #06836e;
}