@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:700px){
  .container{
    width: 100%;
  }
}


@media(min-width:576px){
  .container{
    width: 540px;
  }
}

@media(min-width:768px){
  .container{
    width: 720px;
  }
}

@media(min-width:992px){
  .container{
    width: 960px;
  }
}

@media(min-width:1200px){
  .container{
    width: 1140px;
  }
}
